/* follow a var(--theme-spacing-xs, --lib-spacing-xs); approach ? */
.space-xs {
  height: var(--spacing-xs, 10px);
}

.space-sm {
  height: var(--spacing-sm, 24px);
}

.space-md {
  height: var(--spacing-md, 32px);
}

.space-lg {
  height: var(--spacing-lg, 64px);
}

.space-xl {
  height: var(--spacing-xl, 128px);
}
