.container {
  position: relative;
  /* use flex column so .hero can get the rest height of the viewport */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bgViewportCover {
  position: absolute;
  z-index: -1;
  background: var(--bg-color-primary);
  inset: var(--bg-viewport-cover-inset);
  border-radius: var(--border-radius-primary);
  height: calc(100% - (var(--bg-viewport-cover-inset) * 2));
}

.sectionWrapper {
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1424px) {
  .sectionWrapper {
    padding: 0 var(--section-x-offset);
  }
}

.section {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: var(--section-max-width);
  /* background-color: rgba(0, 255, 255, 0.485); */
  /* for scroll indicator */
  position: relative;
}

.spaceTopOffset {
  height: var(--bg-viewport-cover-inset);
}

.hero {
  flex-grow: 1;
}

.positionForScrollIndicator {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
