.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationEnd {
  display: flex;
  gap: 45px;
}

.logo {
  font-size: 22px;
  font-weight: 900;
  color: var(--text-color-logo);
}

.link {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-secondary);
  box-shadow: inset 0 -1px 0 0 var(--text-color-tertiary);
  transition: all 200ms ease;
}

.link:hover {
  box-shadow: inset 0px -7px 0px 0px var(--text-color-tertiary);
  transform: scale(1.025);
}
