.text {
  display: inline-block;
  color: var(--text-color-primary);
  font-weight: 600;
}

.text-body {
  font-size: 18px;
  line-height: 32px;
}

.text-inherit {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-title {
  line-height: 120%;
  font-size: 7vh;
  font-weight: 400;
}

.text-title-secondary {
  line-height: 120%;
  font-size: 5.5vh;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .text-title,
  .text-title-secondary {
    font-size: 50px;
  }
}

@media screen and (max-width: 479px) {
  .text-title,
  .text-title-secondary {
    font-size: 36px;
  }
}

.text-bold {
  font-weight: bold;
}
